.sidePanel{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100dvh;
}

.leaveButton{
    margin-top: 3px;
}
.sidePanel .loadPhotoBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filePhotoLoad2 {
    display: none;
}
.leaveButton, .friendListButton, .createGroup, .filePhotoLoad2 {
    flex-shrink: 0;
}