.chatList {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}
.chatItem {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    min-width: 375px;
    height: 87.5px;
    gap: 10px;
    background-color: rgba(65, 211, 255, 0.247);
    font-family: Arial, Helvetica, sans-serif;
    padding: 12.5px;
    border: 1px solid rgba(95, 111, 255, 0.479);
    cursor: pointer;
}
.chatItemBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat_name {
    font-weight: 600;
    font-size: 18.75px;
}
.last_message {
    font-size: 18.75px;
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.last_message img{
    height: 20px;
    vertical-align: bottom;
}
.chatPhotoInList {
    height: 100%;
    width: 60.5px;
    border-radius: 50%;
}
@media (min-width: 1200px) {
    .chatItemBlock {
        width: auto;
    }
    .last_message{
        width: 250px;
        font-size: 18px;
    }
    .last_message img{
        height: 24px;
    }
}