.createGroupMenu {
    width: 300px;
    min-height: 500px;
    background-color: rgba(238, 238, 238, 0.493);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friendsList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    flex-grow: 1;
}

.nameGropInput {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nameGropInput span {
    white-space: nowrap;
    font-weight: 600;
    font-size: 19px;
}

.createGroup {
    height: 50px;
}

@media (min-width: 480px) {
    .createGroupMenu {
        width: 350px;
        padding: 30px;
    }
}

@media (min-width: 760px) {
    .createGroupMenu {
        width: 400px;
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .createGroupMenu {
        min-height: 700px;
    }
}